@marginCommon: 0.15rem;

/* 2. 线条 */
/* 左侧线条 */
.border-left {
  border-left: @border;
}

/* 右侧线条 */
.border-right {
  border-right: @border;
}

/* 顶部线条 */
.border-top {
  border-top: @border;
}

/* 底部线条 */
.border-bottom {
  border-bottom: @border;
}

/* 3. 按钮 */
/* 普通类 button */
.buttons {
  display: flex;
  align-items: center;
  width: 100%;

  button {
    color: @deep_gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border: @border;
  }

  /* 不可用 */
  button.disabled,
  .button.disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

/* 详情类 button */
.button-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  background: @theme;
  color: @white;
  text-align: center;

  /* 空, 不加背景 */
  &.plan {
    background: transparent !important;
    color: @theme;
    box-shadow: none !important;
  }

  .svg-icon {
    fill: @white;
  }

  &.gray {
    background: #ffffff !important;
    color: @general_gray_light!important;
    border-color: @general_gray_light!important;
    box-shadow: none !important;

    .svg-icon {
      fill: @general_gray_light!important;
    }
  }
}

/* 主题类按钮 */
.btn-default {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: @theme;

  &.plan {
    background: #ffffff !important;
    color: @theme!important;
    border: @border_theme;
  }
}

/* 全灰按钮 */
.button-gay {
  border-color: @border_gray!important;
  color: @gray!important;
  background: @border_gray;
  box-shadow: none;
}

/* list item中的button */
.list-item-button {
  display: flex;
  height: 100%;
  color: @color_gray;
  align-items: center;

  .divider {
    width: 0.02rem;
    background: @border_gray;
  }
}

/* 4. 字体 */
/* 字体加粗 */
.font-bold {
  font-family: @font_PingFangSC_Bold;
  font-weight: bold;
}

.font-500 {
  font-family: @font_PingFangSC_Bold;
  font-weight: 500;
}

/* 字体中等 */
.font-medium {
  font-family: @font_PingFangSC_Medium;
}

/* 5. 页面设置 */
/* 默认页面设置 */
div[class$='-page'],
.m-page {
  background: @background;
}

/* 页面背景 */
.page-bg {
  background: @background!important;
}

/* 页面主题背景 */
.page-bg-theme {
  background: @theme!important;
}

/* 页面为白色背景 */
.page-white,
.bg-white {
  background: @white!important;
}

/* 页面背景, 从深主题色到背景色 */
.page-bg-liner {
  background: linear-gradient(180deg, @theme 0%, @background 100%);
}

.page-no-overflow {
  overflow: hidden;
}

.overflow-y-auto {
  overflow-x: hidden;
  overflow-y: auto;
}

/* 6. 公共部分 */
/* 主题色 */
.theme-color {
  color: @theme!important;
}

/* 全局 svg 设置 */
.svg-icon {
  fill: currentColor;
}

/* 删除线 */
.del-line {
  text-decoration: line-through;
  color: @general_gray_light;
}

/* 列表没有数据 */
.no-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 遮罩层 */
.mark {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 10;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.color {
  color: @color;
}

.color-desc {
  color: @gray;
}

.color_gold {
  color: @gold;
}

.color-disabled {
  color: @disabled;
}

.border-theme {
  border: @border_theme;
}

.status {
  color: @status;
}
